h2 {
    font-family: tahoma;
}

body {
    background-color: lightgray;
}

h2,
p,
.readme-wrapper {
    text-align: center;
}

a:hover {
    color: darkcyan;
    cursor: pointer;
    font-weight: bold;
}

a {
    text-decoration: none;
}

span {
    color: red;
    font-weight: 700;
}

.boxes {
    margin: 3px;
    padding: 4;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    width: 30em;
    display:block;
}

#box1 {
    background-color: lightblue;
}

#box2 {
    background-color: lightcoral;
   
}

#box3 {
    background-color: lightgreen;
}

#box4 {
    background-color: lightseagreen;
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: lightyellow;
    position: absolute;
    right:100px;
    left:100px;
    
}